<div class="acme-brand-footer">
  <p>&copy; {{ "now"|date("Y") }} <a href="">ACME University</a> | {{ address1 }} | {{ address2 }} | {{ city }}, {{ state }}. {{ postal }} | {{ phone }} | <a href="mailto:{{ email }}">{{ email }}</a></p>
  <p>Contact: {{ contact_link }} | <a href="https://www.osu.edu/webmaster.html">Webmaster</a></p>
  <p><a href="mailto:webmaster@osu.edu">Request an alternate format of this page</a> | <a href="https://www.osu.edu/privacy.html">Privacy policy</a> | <a href="https://hr.osu.edu/public/documents/policy/policy110.pdf">Nondiscrimination notice</a></p>
</div>
